.gambar1{
    display: block;
    background-color: lightskyblue;
    padding: 20px ;
    border : 20px solid red;
    margin: 20px 20px 0px 20px;
} 

.gambar2{
    display: block;
    background-color: lightskyblue;
    padding: 20px ;
    border : 20px solid red;
    margin: 0px 20px 0px 260px;
} 

.gambar3{
    display: block;
    background-color: lightskyblue;
    padding: 20px ;
    border : 20px solid red;
    margin: 0px 20px 20px 500px ;
} 